.scriptCalendar {
  width: 100%; 
}

a { color:#333; text-decoration:none; }
.scriptCalendar { text-align:center; border-collapse: collapse; border-spacing: 0;}

.scriptCalendar > thead > tr > td { width:50px; height:50px;}
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; height: 85px;}
.scriptCalendar > thead > tr:last-child > td { background-color:#fff; color: #777; font-weight: bold; border-top: 1px solid #efefef;}
.scriptCalendar > thead > tr > td.day { font-size: 22px; color: #333;}

.scriptCalendar .calendarBtn { cursor:pointer; transition: 0.5s; background-repeat: no-repeat; background-position: center;} 
.scriptCalendar .calendarBtn.back { background-image: url('/img/arrow_back.png'); } 
.scriptCalendar .calendarBtn.back:hover { background-image: url('/img/arrow_back_g.png');} 
.scriptCalendar .calendarBtn.forward { background-image: url('/img/arrow_forward.png');} 
.scriptCalendar .calendarBtn.forward:hover { background-image: url('/img/arrow_forward_g.png');} 
.scriptCalendar .calendarBtn.back, .scriptCalendar .calendarBtn.forward { background-size: 35px auto;} 

.scriptCalendar > tbody > tr > td { width:50px; height:110px; border: 1px solid #efefef;}
.scriptCalendar > tbody > tr > td:first-child {border-left: none;}
.scriptCalendar > tbody > tr > td:last-child {border-right: none;}

.scriptCalendar tbody tr { color: #444; font-weight: 600;}
.scriptCalendar tbody tr .days_box, .scriptCalendar tbody tr .status_box { display: flex; justify-content: flex-start; align-items: center; padding: 0 8px; padding: 0 8px;}
.scriptCalendar tbody tr .days_box {height: 32px;}
.scriptCalendar tbody tr .status_box {height: calc(100% - 32px); flex-direction: column; align-items: flex-start; gap: 8px;}
/* .scriptCalendar tbody tr .status_box ul {display: flex; justify-content: flex-start; align-items: center; gap: 12px;} */
.scriptCalendar tbody tr .status_box ul li {display: inline-block; font-size: 14px;}
.scriptCalendar tbody tr .status_box ul li span {background-color: #888; font-size: 12px;  border-radius: 5px; padding: 1px 4px 2px; margin-right: 4px; color: #fff;}
.scriptCalendar tbody tr .status_box ul li span.sta_01 {background-color: #EE2E5B;}
.scriptCalendar tbody tr .status_box ul li span.sta_02 {background-color: rgb(103, 148, 220);}

.calendarPbt.btn {
  /* position: absolute;
  top: 0;
  right: 0; */
  height: 40px;
  width: 107px;
  /* padding: 0 0 0 36px;
  border: 0;
  text-align: left; */
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
  color: #fff;
  background: #393d49 ;
}


.condition_box {padding: 22px 8px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; display: flex; flex-direction: column; gap: 18px;}
.condition_box li {display: flex; justify-content: flex-start; align-items: flex-start;}
.condition_box li p {flex-grow: 1;}


.consent_txt_box {padding: 22px 8px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; display: flex; flex-direction: column; gap: 18px;}
.consent_txt_box li {display: flex; flex-direction: column; gap: 4px;}
.consent_txt_box li p {margin-left: 18px;}
.consent_txt_box li p:first-child {font-weight: 600; margin-left: 0;}

.consent_box { font-weight: 600; background-color: #f5f5f5; border-radius: 5px; padding: 24px; margin: 18px 0; display: flex; justify-content: center; align-items: center; gap: 16px;}

.page_bt_box {display: flex; justify-content: center; align-items: center; gap: 18px;}
.page_bt_box input {font-size: 15px; height: 40px; width: 107px; background: #393d49;border: 0; border-radius: 5px; cursor: pointer; text-align: center; font-size: 15px; font-weight: 400;color: #fff; transition: 0.3s;}
.page_bt_box input:hover {background-color: #008631;}


.inputList_t {text-align: right; font-size: 14px; margin-bottom: 4px; color: #666}
.inputList {width: 100%; border-spacing: 0px;}
.inputList tbody > tr {}
.inputList tbody > tr > td {padding-left: 14px;}
.inputList tbody > tr > td:nth-child(odd) {width: 100px; font-weight: 600;}
.inputList tbody > tr > td:nth-child(odd) label.essential::before {content:'*'; color: rgb(77, 77, 255);}
.inputList tbody > tr > td:nth-child(even) {width: calc(100% - 100px);}
.inputList tbody > tr.double > td:nth-child(even) {width: calc(100% - 200px);}
.inputList tbody > tr > td:nth-child(even) input {font-size: 15px; width: 100%; height: 40px; margin: 6px 0; border: 1px solid #ccc; border-radius: 5px; padding: 4px 8px;}

